/.quarto/
_proc/
.idea/
/._site
.Rproj.user
_docs/
/**/.ipynb_checkpoints
/**/.DS_Store
/**/__pycache__
.history/
venv_blog

dev/19_darts/images/
dev/11_titanic/data/test.csv
dev/11_titanic/submission_random_forest.csv
dev/11_titanic/submission.csv
dev/11_titanic/data/gender_submission.csv
dev/11_titanic/data/train.csv
dev/11_titanic/titanic.zip


blog.egg-info/
