html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from Nenad
        p This is original version 1.0
        p 
          a.btn.btn-primary(href="https://www.educative.io/collection/10370001/6625125959467008") The Kubernets Course Link
          
          a.btn.btn-outline-primary(href="www.nenadbozinovic.com") My personal website